@model ShauliBlogProject.Models.Post

@{
    ViewBag.Title = "Edit";
    bool isAdmin = ViewBag.IsAdmin ?? false;
}

<h4>Add New Post</h4>
<div id="myForm">
    <form action="@Href("~/Blog/Update")" method="post" id="postForm">
        @{ DateTime datetime = Model.postDate.Year > 2000 ? Model.postDate : DateTime.Now; }
        @if (Model.PostID != -1)
        {
            <input type="hidden" name="PostID" value="@Model.PostID" />
            datetime = DateTime.Now;
        }
        <input type="text" name="postDate" value="@datetime" /> Date <br />
        <input type="text" name="Title" value="@Model.Title" /> Title <br />
        <input type="text" name="Author" value="@Model.Author" /> Author <br />
        <input type="text" name="url_author_post" value="@Model.url_author_post" /> URL's Author  <br />
        <input type="text" id="image-text" name="image" value="@Model.image" disabled /> Image <input type="checkbox" id="check-image" /> <br />
        <input type="text" id="video-text" name="video" value="@Model.video" disabled /> Video <input type="checkbox" id="check-video" /> <br />

        <input type="checkbox" id="Food" name="food" value="1" /> Food       
        <input type="checkbox" id="Sport" name="sport" value="1" /> Sport
        <input type="checkbox" id="Vacation" name="vacation" value="1" /> Vacation
        <input type="checkbox" id="Study" name="study" value="1" /> Study
        <input type="checkbox" id="Music" name="music" value="1" /> Music <br />

        <textarea name="contentPost" rows="10" cols="80">@Model.contentPost</textarea> <br />
        <input type="submit" name="submit" value="Submit" />
    </form>
</div>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script>
    var checkerImage = document.getElementById('check-image');
    var imageText = document.getElementById('image-text');
    var checkeVideo = document.getElementById('check-video');
    var videoText = document.getElementById('video-text');

    $('#myForm').ready(function () {
        //check values in Image & Video
        if ("@Model.image")
        {
            $('#image-text').prop('disabled', false);
            $("#check-image").prop('checked', true);
        }
        else
        {
            $('#image-text').prop('disabled', true);
        }

        if ("@Model.video")
        {
            $('#video-text').prop('disabled', false);
            $("#check-video").prop('checked', true);
        }
        else {
            $('#video-text').prop('disabled', true);
        }
    });

    checkerImage.onchange = function () {
        if (this.checked) {
            imageText.disabled = false;
        }
        else {
            imageText.disabled = true;
        }
    }

    checkeVideo.onchange = function () {
        if (this.checked) {
            videoText.disabled = false;
        }
        else {
            videoText.disabled = true;
        }
    }
</script>

